name: Release

on:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v1.2.3
      - v*

jobs:
  pypi:
    name: Publish to pypi
    runs-on: ubuntu-latest
    # Environment and permissions for trusted publishing.
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b #v7
        with:
          enable-cache: false
      - name: Install Python 3.10
        run: uv python install 3.10
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
